.banner {
    background-image: url("https://pbs.twimg.com/media/B0KKw_zCUAA97yx.jpg");
    height: 780px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .care{
    color: tomato;
  }
  .header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.header-bottom{
  margin-bottom: 0px;
}
  